.optionsAreaWrapper {
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.optionItem {
	border-top: 1px solid rgba(229, 229, 229, 1);
	display: flex;
	flex-direction: row;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 11px;
	align-content: baseline;
	transition: background-color ease-in-out .13s;
	&__checkbox {
		background-repeat: no-repeat;
		background-position: center;
		transition: ease-in-out .13s;
		display: flex;
		width: 18px;
		height: 18px;
		border-radius: 2px;
		border: 1px solid rgba(172, 172, 172, 1);
	}
	&__data {
		padding-top: 2px;
		padding-left: 11px;
		line-height: 18px;
	}
	&__nodata {
		padding-top: 2px;
		line-height: 18px;
		color: rgba(73, 92, 100, 1);
	}
	&__title {
		font-weight: 600;
		display: inline;
	}
	&__text {
		margin-left: 5px;
		color: #495C64;
		display: inline;
	}
}
