.selectedOptionItem {
	width: 41px;
	height: 24px;
	border-radius: 2px;
	background-color: rgba(229, 229, 229, 1);
	margin-right: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 4px;
}

